fiona==1.9.5
folium==0.15.1
geopandas==0.14.3
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.18.2
ipython==8.21.0
ipytree==0.2.2
ipywidgets==8.1.2
jupyterlab-widgets==3.0.10
matplotlib-inline==0.1.6
#matplotlib==3.8.3
matplotlib<=3.7.4
seaborn>=0.12.2
numpy==1.26.4
pandas==2.2.0
pillow==10.2.0
plotly==5.19.0
pyshp==2.3.1
requests==2.31.0
shapely==2.0.3
urllib3==2.2.1

jupyterlab-geojson==3.4.0
sentinelhub==3.10.1
sentinelsat==1.2.1

# For solara Jupyter widget
solara==1.29.1
ipyvuetify==1.9.2
reacton==1.8.3
playwright==1.42.0
vega_datasets==0.9.0
altair==5.2.0


# For KSE class
osmium==3.7.0


# For DuckDB - Rapid Prototyping Sandbox
duckdb==0.10.0
jupysql==0.10.10
duckdb-engine==0.11.2

# For EDA
#dataprep
#pandas-profiling[notebook]
#pandas-profiling
autoviz==0.1.803
sweetviz==2.3.1
#dataprep